* {
  box-sizing: border-box;
}

.welcome {
  font-size: 1.5em;
  text-align: center;
  color: #333;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.login {
  margin: 0 auto;
  width: 50%;
  padding: 10px;
  padding-top: 20px;
  border: 1px solid rgb(90, 86, 86);
}

.login input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.login button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}